*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}

.header-tribute{
    margin: 1rem;
    padding: 2rem;
    text-align: center;
}

.tribute-section{
    align-items: center;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    padding: 0px 0px 0px 1rem;
}

.tribute-text{
    font-size: 3rem;
    text-align: center;   
}

.tribute-section img{
    max-width: 100%;
}

.tribute-bio {
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 40rem;
}

.tribute-bio h2{
    font-size: 3rem;
    line-height: 1.2;
    margin: 1rem;
}

.tribute-bio p{
    font-size: 1.2rem;
    line-height: 1.4;
}

.tribute-bio > hr{
    margin-top: 2rem;
} 

header > .title{
    margin-bottom: 1rem;
}